{{define "root-body"}}
<div class="container container-news">

  <h3>รายการข่าว</h3>
  <hr>

  <div class="card-news">
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-3">
        <img class="img-thumbnail" src="/-/img/Global-Strategy-Connection-Data-Virtual-Icon-Innovation-Graph-Interface-1.jpg">
      </div>
      <div class="col-lg-8 col-md-12">
        <h4 class="card-title">[PR] F5 เปิดตัว บริการแอปฯ สำหรับโลกมัลติ-คลาวด์</h4>
          <p class="card-text">
            โซลูชันใหม่จาก F5 ช่วยให้บริษัทสามารถนำบริการแอปพลิเคชันเต็มรูปแบบมาใช้บนไพรเวท คลาวด์ พับบลิค คลาวด์ และคลาวด์ที่เชื่อมต่อผ่านเครือข่ายอื่นๆ ได้อย่างต่อเนื่อง .....<a href="#">อ่านต่อ</a>
          </p>
          <p>
            วันที่สร้างข่าว: 09-07-2017 16.00 น.<br>
            ถูกอ่าน 20 ครั้ง
          </p>
      </div>
    </div>
  </div>

  <div class="card-news">
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-3">
        <img class="img-thumbnail" src="/-/img/checkpoint_copycat-by-the-numbers.jpg">
      </div>
      <div class="col-lg-8 col-md-12">
        <h4 class="card-title">รายงานระบุ CopyCat Android Malware ใช้เวลา 2 เดือนแพร่ระบาด 14 ล้านเครื่อง เน้นโจมตีเอเชียตะวันออกเฉียงใต้</h4>
          <p class="card-text">
            นักวิจัยด้านความมั่นคงปลอดภัยจาก Check Point ได้ออกมาเปิดเผยถึงการโจมตีของ Android Malware ที่มีชื่อว่า CopyCat ซึ่งเคยเกิดขึ้นว่ามีเหยื่อไปแล้วกว่า 14 ล้านรายทั่วโลก ทำให้ผู้พัฒนาได้รับเงินไปทั้งสิ้นกว่า 1.5 ล้านเหรียญหรือราวๆ 52.5 ล้านบาทจากการทำ Ad Fraud .....<a href="#">อ่านต่อ</a>
          </p>
          <p>
            วันที่สร้างข่าว: 09-07-2017 16.00 น.<br>
            ถูกอ่าน 20 ครั้ง
          </p>
      </div>
    </div>
  </div>

  <div class="card-news">
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-3">
        <img class="img-thumbnail" src="/-/img/ttt_analytics_hacking-ra2studio.jpg">
      </div>
      <div class="col-lg-8 col-md-12">
        <h4 class="card-title">สหรัฐเผย 2 เดือนที่ผ่านมามีการโจมตีโรงไฟฟ้านิวเคลียร์เกินกว่า 12 แห่ง</h4>
          <p class="card-text">
            Department of Homeland Security (DHS) แห่งสหรัฐอเมริกา ได้ออกมาเผยในรายงานว่าในเดือนพฤษภาคมและมิถุนายน 2017 ที่ผ่านมานี้ มีการโจมตีระบบ IT ภายในโรงไฟฟ้าพลังงานนิวเคลียร์ของสหรัฐได้สำเร็จถึง 12 แห่งเป็นอย่างน้อย .....<a href="#">อ่านต่อ</a>
          </p>
          <p>
            วันที่สร้างข่าว: 09-07-2017 16.00 น.<br>
            ถูกอ่าน 20 ครั้ง
          </p>
      </div>
    </div>
  </div>

  <div class="card-news">
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-3">
        <img class="img-thumbnail" src="/-/img/a9fa8aecea54c285e99feb84baefb75a.jpg">
      </div>
      <div class="col-lg-8 col-md-12">
        <h4 class="card-title">ถูกวิจารณ์ยับ! หลังเกม Ark: Survival Evolved เพิ่มราคาหนึ่งเท่าตัว เตรียมหลุด Early Access</h4>
          <p class="card-text">
            เกม Ark: Survival Evolved หนึ่งในเกม Early Access ที่ได้รับความนิยมสูงมาตั้งแต่ปี 2015 ภายในงาน E3 ที่ผ่านมา ในที่สุดทีมพัฒนาก็ประกาศวางขายเกมเวอร์ชันสมบูรณ์เสียที เป็นวันที่ 8 สิงหาคม บนทุกแพลตฟอร์ม และประกาศปรับราคาเกมเพิ่มในเร็ว ๆ นี้ .....<a href="#">อ่านต่อ</a>
          </p>
          <p>
            วันที่สร้างข่าว: 09-07-2017 16.00 น.<br>
            ถูกอ่าน 20 ครั้ง
          </p>
      </div>
    </div>
  </div>

  <div class="card-news">
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-3">
        <img class="img-thumbnail" src="/-/img/443a807c58e902bf030d5d09eaf46747.png">
      </div>
      <div class="col-lg-8 col-md-12">
        <h4 class="card-title">ITU จัดอันดับความพร้อมของประเทศด้าน Cybersecurity, สิงคโปร์แชมป์ ไทยอันดับ 22</h4>
          <p class="card-text">
            International Telecommunication Union (ITU) หรือสหภาพโทรคมนาคมระหว่างประเทศ หน่วยงานในสังกัดสหประชาชาติ สำรวจความพร้อมของประเทศต่างๆ ทั่วโลกว่าพร้อมรับมือปัญหา cybersecurity มากแค่ไหน โดยให้คะแนนในด้านต่างๆ แล้วจัดทำเป็นดัชนี Global Cybersecurity Index (GCI) .....<a href="#">อ่านต่อ</a>
          </p>
          <p>
            วันที่สร้างข่าว: 09-07-2017 16.00 น.<br>
            ถูกอ่าน 20 ครั้ง
          </p>
      </div>
    </div>
  </div>

  <div class="text-center"><button class="btn btn-lg btn-primary">Load more</button></div>
  
</div>
{{end}}

{{define "root-script"}}
{{end}}

{{define "root-style"}}
<style>
.container-news {
  margin-top: 60px;
  padding: 20px;
}
.card-news {
  padding: 20px;
}
</style>
{{end}}