{{define "root-body"}}
<div class="container container-news">

  <h3>[PR] F5 เปิดตัว บริการแอปฯ สำหรับโลกมัลติ-คลาวด์</h3>
  <hr>

    <p>
      โซลูชันใหม่จาก F5 ช่วยให้บริษัทสามารถนำบริการแอปพลิเคชันเต็มรูปแบบมาใช้บนไพรเวท คลาวด์ พับบลิค คลาวด์ และคลาวด์ที่เชื่อมต่อผ่านเครือข่ายอื่นๆ ได้อย่างต่อเนื่อง
    </p>
    <div class="text-center"><img class="img-thumbnail" src="/-/img/Global-Strategy-Connection-Data-Virtual-Icon-Innovation-Graph-Interface-1.jpg"></div>
    <p>
      Global Strategy Connection Data Virtual Icon Innovation Graph Interface.Startup Diversity Teamwork Brainstorming Meeting Concept.Business People Coworkers Sharing Worldwide Economy Laptop Touchscreen
    </p>

    <p>
      กรุงเทพฯ วันที่ 3 กรกฎาคม 2560 – F5 เน็ตเวิร์กส์ (NASDAQ: FFIV) ประกาศ ความพร้อมในการมอบข้อเสนอที่ออกแบบมาเพื่อให้บริการด้านแอปพลิเคชันที่สามารถทำงานร่วมกันได้ในสภาพแวดล้อมแบบมัลติ-คลาวด์ ช่วยองค์กรธุรกิจเพิ่มความยืดหยุ่นในการใช้งานได้อย่างมหาศาล พร้อมประสิทธิภาพด้านความปลอดภัยยิ่งขึ้น และช่วยให้ส่งสินค้าสู่ตลาดได้เร็วขึ้น
    </p>

    <p>
      จากรายงาน สถานภาพของ Application Delivery ปี 2017 ของ F5 แสดงให้เห็นว่าในขณะที่ลูกค้ากำลังย้ายไปสู่ระบบโครงสร้างคลาวด์มากขึ้นกว่าที่ผ่านๆ มา หลายรายก็กำลังเลือกลงทุนในเทคโนโลยีคลาวด์ที่หลากหลายอย่างตั้งใจ โดย 80 เปอร์เซ็นต์ของผู้ตอบสำรวจ ระบุว่ายังคงมุ่งมั่นในสถาปัตยกรรมมัลติ-คลาวด์ โดยอีก 20 เปอร์เซ็นต์ชี้ว่าจะนำแอปพลิเคชันเกินครึ่งไปไว้บนพับบลิค คลาวด์ และ/หรือไพรเวท คลาวด์ ภายในปีนี้ ทั้งนี้ความเคลื่อนไหวในการก้าวสู่สภาพแวดล้อมแบบมัลติ-คลาวด์ ทำให้เกิดอุปสรรคที่ไม่คาดคิดได้เสมอ อาทิ การใช้งานแอปพลิเคชันบนแพลตฟอร์มคลาวด์ที่หลากหลายก่อให้เกิดความท้าทายในการจัดการบริการด้านแอปพลิเคชัน  นโยบายด้านความปลอดภัยที่ไม่เสถียรทำให้เกิดความเสี่ยงเรื่องการใช้งานที่ไม่สอดคล้องตามนโยบาย และสถาปัตยกรรมคลาวด์ที่หลากหลายอาจสร้างแรงกดดันในเรื่องทักษะด้านไอทีที่แตกต่างกัน และเป็นการบั่นทอนคุณค่าของคลาวด์
    </p>

    <p>
      “ลูกค้ากำลังเลือกนำแอปพลิเคชันบนคลาวด์ที่หลากหลายมาใช้กันมากขึ้น ทั้งบนไพรเวท และพับบลิค คลาวด์ บนสิ่งอำนวยความสะดวกของโคโลเคชัน และกระทั่งในดาต้าเซ็นเตอร์ของตัวเอง แต่ก็กำลังประสบปัญหาในการจัดการสภาพแวดล้อมการพัฒนาที่แตกต่าง ทั้งชุดเครื่องมือ และเทคโนโลยีที่ควบคุมการทำงาน” แซนกีตา อนันด์ รองประธานอาวุโส ฝ่ายบริหารจัดการด้านผลิตภัณฑ์ และการทำตลาดผลิตภัณฑ์ ของ F5 กล่าว “ในขณะที่คลาวด์เหล่านี้ให้บริการสำหรับแอปพลิเคชัน แต่ส่วนใหญ่จะยังใช้ไม่ค่อยได้กับหลายระบบมากพอ เป็นกรณีการใช้งานที่เฉพาะ หรือไม่สามารถให้การปกป้องได้ไม่มากพอ ทั้งนี้ สายผลิตภัณฑ์ของ F5 ในส่วนโซลูชันและการบริการแอปพลิเคชันแบบมัลติ-คลาวด์ นั้นให้อิสระกับลูกค้าในการใช้งานได้ทุกแอปพลิเคชัน และทุกที่ ด้วยการบริการด้านแอปพลิเคชันที่ให้ความเสถียรและให้ความปลอดภัยในระดับองค์กรขนาดใหญ่ (enterprise-grade)
    </p>

    <p>
      ขยายขอบเขตการเข้าถึงของแอปพลิเคชัน และคลาวด์
    </p>

    <p>
      ใน เดือนพฤศจิกายน F5 แสดงวิสัยทัศน์ในการเพิ่มศักยภาพการให้บริการแอปพลิเคชันที่ทำงานบนคลาวด์ได้อย่างชาญฉลาด ด้วยเสถียรภาพ ความปลอดภัย และสมรรถนะการทำงานที่ลูกค้าคาดหวัง วันนี้ เราสร้างรากฐานดังกล่าวด้วยความพร้อมของโซลูชันในวงกว้างสำหรับบริการมัลติ-คลาวด์ หลากหลายแพลตฟอร์มที่ช่วยให้แอปพลิเคชันทำงานเร็วขึ้น ฉลาดขึ้น และปลอดภัยยิ่งขึ้น
    </p>

</div>
{{end}}

{{define "root-script"}}
{{end}}

{{define "root-style"}}
{{end}}